applicationinsights==0.11.9
backports.csv==1.0.7
cli-helpers==0.2.3
Click==7.0
configobj==5.0.6
enum34==1.1.10
future==0.18.2
humanize==3.2.0
importlib-metadata==3.4.0
mssql-cli==1.0.0
pkg-resources==0.0.0
prompt-toolkit==2.0.10
py7zr==0.11.1
pycryptodome==3.9.9
Pygments==2.7.4
pymssql==2.1.5
resources==0.0.1
six==1.15.0
SQLAlchemy==1.3.22
sqlparse==0.2.4
terminaltables==3.1.0
texttable==1.6.3
typing-extensions==3.7.4.3
wcwidth==0.2.5
zipp==3.4.0
